---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="TW Timer">
  <main>
    <div class="imageContainer">
      <Image
        class={"center"}
        src="/thoughtworks_flamingo_mist.png"
        alt="Thoughtworks logo"
        height="1"
        width="1"
      />
    </div>

    <div class="timerContainer">
      <!-- <div class="progress"></div> -->
      <div class="outer"></div>

      <span class="countdown font-mono text-2xl" style=" font-family: Verdana">
        <span id="minutes" style="--value:10;"></span>:<span
          id="seconds"
          style="--value:00;"></span>
      </span>

      <svg class="playSVG" width="75" height="75">
        <circle
          cx="37.5"
          cy="37.5"
          r="33.75"
          stroke="white"
          stroke-width="2.25"
          fill="none"></circle>
        <polygon points="30,22.5 52.5,37.5 30,52.5" fill="white"></polygon>
      </svg>
      <svg class="stopSVG" width="75" height="75">
        <circle
          cx="37.5"
          cy="37.5"
          r="33.75"
          stroke="white"
          stroke-width="2.25"
          fill="none"></circle>
        <rect x="26.25" y="26.25" width="22.5" height="22.5" fill="white"
        ></rect>
      </svg>
    </div>
    <div class="buttonContainer">
      <button class="btn btn-outline startPauseButton" style="min-width: 5rem;"
        >Start</button
      >
      <button class="btn btn-outline mx-1 fiveButton">5</button>
      <button class="btn btn-outline tenButton">10</button>
      <button class="btn btn-outline mx-1 fifteenButton">15</button>
      <button class="btn btn-outline twentyButton">20</button>
      <button class="btn btn-outline mx-1 thirtyButton">30</button>
      <button class="btn btn-outline resetButton">Reset</button>
    </div>
    <audio id="audio" src="analog-timer.mp3"></audio>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    min-height: fit-content;
    width: 50vw;
    min-width: 500px;
    height: 100%;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-self: center;
    line-height: 1.6;
  }
  .imageContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-self: center;
    align-items: center;
    min-height: 200px;
    max-width: 100%;
    animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.99;
    }
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .outer {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    /* border: 1px solid #f4647c; */
    box-shadow:
      6px 6px 10px -1px rgba(0, 0, 0, 0.25),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
  }
  .outer:active {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    /* border: 1px solid #f4647c; */
    box-shadow:
      inset 6px 6px 10px -1px rgba(0, 0, 0, 0.35),
      inset -6px -6px 10px -1px rgba(255, 255, 255, 0.09);
  }
  .timerContainer {
    margin: 1rem auto;
    width: 400px;
    height: 400px;
    position: relative;
  }
  .countdown {
    font-family: "Verdana", monospace;
    display: flex;
    font-size: 6rem;
    line-height: 1;
    justify-content: center;
    padding-top: 150px;
    pointer-events: none;
  }
  .progress {
    fill: none;
    stroke: #f4647c;
    stroke-width: 20px;
    pointer-events: none;
  }
  .playSVG {
    position: absolute;
    top: 70%;
    left: 41%;
    pointer-events: none;
  }
  .stopSVG {
    display: none;
    position: absolute;
    top: 70%;
    left: 41%;
    pointer-events: none;
  }
  .buttonContainer {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    min-width: 3.5rem;
  }
</style>

<script>
  let timeRemaining = 600;
  let lastTimeSelected = 600;
  let minutes = 0;
  let seconds = 0;
  let isPaused = true;
  let startPauseText = "Play";

  const circleContainer = document.querySelector(".timerContainer");
  const timerMinutes = document.getElementById("minutes") as HTMLElement;
  const timerSeconds = document.getElementById("seconds") as HTMLElement;

  const playSVG = document.querySelector(".playSVG") as HTMLElement;
  const stopSVG = document.querySelector(".stopSVG") as HTMLElement;

  const startPauseButton = document.querySelector(".startPauseButton");
  const fiveButton = document.querySelector(".fiveButton");
  const tenButton = document.querySelector(".tenButton");
  const fifteenButton = document.querySelector(".fifteenButton");
  const twentyButton = document.querySelector(".twentyButton");
  const thirtyButton = document.querySelector(".thirtyButton");
  const resetButton = document.querySelector(".resetButton");
  const audio = document.getElementById("audio") as HTMLAudioElement;

  const calculateTime = () => {
    minutes = Math.floor((timeRemaining / 60) % 60);
    seconds = Math.floor(timeRemaining % 60);
  };

  const getMinutesText = () => {
    return minutes.toString().padStart(2, "0");
  };

  const getSecondsText = () => {
    return seconds.toString().padStart(2, "0");
  };

  const setPlayPauseText = () => {
    startPauseText = isPaused ? "Start" : "Pause";
    if (startPauseButton) {
      startPauseButton.textContent = startPauseText;
    }
  };

  const toggleTimerRunning = () => {
    isPaused = !isPaused;
    if (playSVG && stopSVG) {
      playSVG.style.display = isPaused ? "block" : "none";
      stopSVG.style.display = isPaused ? "none" : "block";
    }

    if (isPaused) {
      audio?.pause();
    } else if (audio?.currentTime !== 0) {
      audio?.play();
    }
    setPlayPauseText();
  };
  startPauseButton?.addEventListener("click", toggleTimerRunning);
  circleContainer?.addEventListener("click", toggleTimerRunning);

  fiveButton?.addEventListener("click", () => {
    setTimeText(300);
  });
  tenButton?.addEventListener("click", () => {
    setTimeText(600);
  });
  fifteenButton?.addEventListener("click", () => {
    setTimeText(900);
  });
  twentyButton?.addEventListener("click", () => {
    setTimeText(1200);
  });
  thirtyButton?.addEventListener("click", () => {
    setTimeText(1800);
  });

  resetButton?.addEventListener("click", () => {
    setTimeText(lastTimeSelected);
  });

  const setTimeText = (newTime: number) => {
    isPaused = true;
    lastTimeSelected = newTime;
    timeRemaining = newTime;

    setPlayPauseText();
    resetAudio();
    calculateTime();
    timerMinutes?.style.setProperty("--value", getMinutesText());
    timerSeconds?.style.setProperty("--value", getSecondsText());
  };

  const resetAudio = () => {
    audio?.pause();
    if (audio) {
      audio.currentTime = 0;
    }
  };

  setInterval(() => {
    if (timerMinutes && timerSeconds && !isPaused && timeRemaining > 0) {
      timeRemaining--;
      calculateTime();
      timerMinutes?.style.setProperty("--value", getMinutesText());
      timerSeconds?.style.setProperty("--value", getSecondsText());
    }
    if (timeRemaining === 14) {
      audio?.play();
    }
  }, 1000);
</script>
